@* a default display template for the MenuDividerItemPart *@

@using System.Collections.Generic
@using System.Linq
@using Orchard.ContentManagement
@using CSM.Navigation.Models

@{
    var part = ((IEnumerable<ContentPart>)Model.Parts).SingleOrDefault(p => p is DividerMenuItemPart) as DividerMenuItemPart;
}

@if (part != null)
{
    if (part.ShowDivider)
    {
<li role="presentation" class="divider"></li>
    }
    if (part.ShowHeader && HasText(part.Header))
    {
<li role="presentation" class="dropdown-header">@part.Header</li>
    }
}