@* a default display template for the MenuDividerItemPart *@

@if (Model.ShowDivider)
{
<li role="presentation" class="divider"></li>
}
@if (Model.ShowHeader && HasText(Model.Header))
{
<li role="presentation" class="dropdown-header">@Model.Header</li>
}